@import 'variables';

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btn {
  font-size: $font-size;
  font-family: $bodyFont;
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
