@import 'abstracts';

label {
  display: block;
}

input, textarea {
  font-size: $font-size-xs;
  min-width: 400px;
  border: 1px solid lighten($gray, 20%);
  padding: 7px 10px;
}


input[type=submit] {
  background: $orange;
  color: $white;
  border-color: $orange;
  transition: $transitionAll;

  &:hover {
    background: darken($orange, 10%);
  }
}
