@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lora:wght@400;600&display=swap');

$green: #3bc8aa;
$orange: #ff551a;

$titleFont: 'Lora';
$bodyFont: 'Karla';
$black: #1e1e1e;
$letter-spacing-sm: -0.5px;
$letter-spacing-lg: 1;

body {
  color: $black;
  font-family: $bodyFont;
  letter-spacing: $letter-spacing-sm;
}

h2 {
  color: $green;
  font-family: $titleFont;
  letter-spacing: normal;
}
